*{
    box-sizing: border-box;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 28px;
}
#main{
border: 1px black solid;

}
#summaryDiv{
    display: flex;
    flex-direction: column;
    height: 40%;
    border-bottom: 1px black solid;
}
#summaryHeader{
    text-align: center;
    font-size: 1.3rem;
}
#summaryContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.options{
    display: flex;
    font-size: 1.2rem;
    padding: 5px;
    gap: 2px;
}
.textSide:hover{
    border-bottom: 1px black solid;
}
.textSide{
    margin-left: 10px;
}
#header{
    display: flex;
    height: 10%;
    width: 100%;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    background: rgb(48,94,96);
background: linear-gradient(90deg, rgba(48,94,96,1) 12%, rgba(78,160,180,1) 75%);
}
#content{
    display: flex;
    height: 90%;
    width: 100%;
    background-color: rgb(146, 167, 167);


}
#sidebar{
    display: flex;
    width: 20%;
    height: 1500px;
    flex-direction: column;
    border: 1px black solid;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(105, 129, 129);

}
#sidebarHeader{
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-bottom: black solid 1px;
}
#newProject{

    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(27, 31, 27);
    font-weight: 900;
    margin-bottom: 20px;

}
#newProjectTitle{
    font-size: 1.2em;
    background-color: rgb(14, 53, 78);
    justify-self: center;
    color: white;

}
#newProjectTitle:hover{
    transform: scale(1.1);
}
#newProjectFormDiv{
    border: 1px solid black;
    padding: 10px;
}
label{
    display: block;
}
input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border-radius: 10px;
    
}
select{
    border-radius: 10px;
}
button{
    border-radius: 10px;
}
#closeNewProjectForm{
    transform: scale(0.8);
}
#closeNewProjectForm:hover{
    transform: scale(0.9);
}
#formFooter{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.sidebarProject{
    text-align: center;
    font-weight: 900;

}
.sidebarProject:hover{
    transform: scale(1.5);
}


#viewProject{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 5px;
}

#projectHeader{
    display: flex;
    height: 10%;
    width: 100%;

}

#projectName{
    color: rgb(16, 16, 109);
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    font-size: 2rem;

}
#deleteProject{
    transform: scale(0.5);
    margin-top: 10px;
    margin-right: 500px;
}
#toDo{
    padding: 50px;
    border-radius: 20px;
    border: 1px solid black;
}
.actCard{
    display: flex ;
    width: 100%;
    height: 100px;
    border: solid black 1px;
    border-radius: 20px;

}
.checkbox{
    width: 5%;
    display: flex;
    align-content: center;

}
    
.chkbtn{
    font-size: 0.5rem;
    height: 40%;
    align-self: center;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
    color: white;
}
.rightside{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upDiv{
display: flex;
justify-content: space-around;
width: 100%;
}

.downDiv{
display: flex;
width: 100%;
}
.cardDeleteIcon{
    transform: scale(0.6);
}
.cardDetails{
    width: 80%;
    padding-left: 30px;
}
.cardDelete{
    width: 30%;
}
.Low{
    background-color: rgb(101, 148, 101);
}
.Mid{
    background-color: rgb(236, 236, 104);
}
.High{
    background-color: rgb(245, 86, 86);
}

.complete{
    background-color: grey !important;
    opacity: 0.6;
}

#newCloseIcon{
    transform: scale(0.8);
}